<script lang="ts">
  import L from "leaflet";
  import { locationStore } from "../lib/locationStore";
  import { onMount } from "svelte";

  const TILE_URL =
    "https://api.maptiler.com/maps/basic/{z}/{x}/{y}.png?key=" +
    import.meta.env.VITE_MAPTILER_API_KEY;

  const TILE_OPTIONS = {
    tileSize: 512,
    zoomOffset: -1,
    minZoom: 1,
    attribution:
      '\u003ca href="https://www.maptiler.com/copyright/" target="_blank"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href="https://www.openstreetmap.org/copyright" target="_blank"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e',
    crossOrigin: true,
  };

  const issIcon = L.icon({
    iconUrl:
      "https://imgs.search.brave.com/ECIX5O_2x82N4gfjY2ZnO9tEVRoGXnxRFx8ZMZztkzk/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9kZXNp/Z25sb290ZXIuY29t/L2ltYWdlcy9pbnRl/cm5hdGlvbmFsLXNw/YWNlLXN0YXRpb24t/c3ZnLTUucG5n",
    iconSize: [56, 56],
    iconAnchor: [56 / 2, 56 / 2],
  });

  let issMarker = L.marker([0, 0], {
    icon: issIcon,
    title: "International Space Station",
  });

  locationStore.subscribe(() => {
    issMarker.setLatLng([$locationStore.lat, $locationStore.lon]);
    issMarker.bindPopup(
      `Lat: ${$locationStore.lat} <br> Lon: ${$locationStore.lon}`
    );
  });

  onMount(() => {
    var map = L.map("map").setView([$locationStore.lat, $locationStore.lon], 3);

    L.tileLayer(TILE_URL, TILE_OPTIONS).addTo(map);

    issMarker.addTo(map);
  });
</script>

<div id="map">
  <a
    href="https://www.maptiler.com"
    style="position:absolute;left:10px;bottom:10px;z-index:999;"
    ><img
      src="https://api.maptiler.com/resources/logo.svg"
      alt="MapTiler logo"
    /></a
  >
</div>
<p>
  <a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a>
  <a href="https://www.openstreetmap.org/copyright" target="_blank"
    >© OpenStreetMap contributors</a
  >
</p>

<style>
  #map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
</style>
