<script lang="ts">
  import Map from "./components/Map.svelte";
  import { getLocation, IssLocation } from "./lib/issLocation";
  import { locationStore } from "./lib/locationStore";

  let initialLocation: Promise<IssLocation> = getLocation();
  initialLocation.then((location) => locationStore.set(location));

  setInterval(async () => {
    let newLocation = await getLocation();
    locationStore.set(newLocation);
  }, 10000);
</script>

<main>
  <h1>Iss Location</h1>
  {#await initialLocation}
    <p>Waiting...</p>
  {:then}
    <Map />
  {:catch error}
    <p style="color: red">{error.message}</p>
  {/await}
</main>
